<div id="search-result-{{index}}" class="card none ad-result clickable">
    <div class="card-body row">
        <div class="col-6">
            <ul class="list-group">
                <li class="list-group-item flex"><div>
                    <span
                        class="to-place fas fa-map-marker-alt input-group-text"></span>
                </div><div>{{ from }}</div></li>
                <li class="list-group-item flex"><div>
                    <span
                        class="from-place fas fa-map-marker-alt input-group-text"></span>
                </div><div>
                    {{ to }}
                </div></li>
            </ul>
        </div>
        <div class="col-6 pt-3"><span class="price-display display-5">{{price}}</span>
            <span class="date-display lead">{{time}} on {{date}}</span>
        </div>
    </div>
</div>