<ul class="list-group" {{body_style}}>
    <li class="list-group-item flex" {{first_style}}>
        <div>
            <span class="to-place list-icon fas fa-map-marker-alt input-group-text"></span>
        </div>
        <div>
            <span class="display-7">{{from_loc}}</span>
        </div>
    </li>
    <li class="list-group-item flex">
        <div>
            <span class="from-place list-icon fas fa-map-marker-alt input-group-text"></span>
        </div>
        <div>
            <span class="display-7">{{to_loc}}</span>
        </div>
    </li>
    <li class="list-group-item flex">
        <div>
            <span class="bg-white list-icon far fa-calendar-alt input-group-text"></span>
        </div>
        <div>
            <span class="display-7">{{date}}</span>
        </div>
    </li>
</ul>